.popup__text-field {
  box-sizing: border-box;
  width: 100%;
  padding: 9px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font: 14px/17px 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  margin-top: 22px;
  vertical-align: bottom;
}

.popup__text-field::placeholder {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}


