.popup__close-button {
  position: absolute;
  max-width: 32px;
  max-height: 32px;
  width: 100%;
  height: 100%;
  background: url(../../../images/сlose-icon.svg) no-repeat center / cover;
  top: -40px;
  right: -40px;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: opacity .4s;
  cursor: pointer;
}

@media screen and (max-width: 645px) {
  .popup__close-button {
    right: 0;
    top: -36px;
    max-width: 20px;
    max-height: 20px;
  }
}

.popup__close-button:hover {
  opacity: .6;
}
