.profile__add-icon {
  max-width: 22px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 12px 62px;
  vertical-align: bottom;
}

@media screen and (max-width: 720px) {
  .profile__add-icon {
    max-width: 17px;
    padding: 16px 0;
  }
}