.edit-form__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: opacity .4s;
}

@media screen and (max-width: 645px) {
  .edit-form__close-button {
    right: 0;
    top: -36px;
  }
}

.edit-form__close-button:hover {
  opacity: .7;
}