.edit-form__text-field {
  width: 100%;
  padding: 0;
  border: none;
  font: 14px/17px 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  margin-bottom: 9px;
  vertical-align: bottom;
}

.edit-form__text-field::placeholder {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

