.profile__user-name {
  font: 42px/48px 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .profile__user-name {
    font-size: 27px;
    line-height: 33px;
    margin-top: 22px;
  }
} 